<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>My Home Secure Monitoring Camera Client</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" type="css" href="/stylesheets/cam.css">
</head>
<body>
    <div class="container">
	  
	  <h1>My Home Secure Monitoring Camera Client</h1>
	  <h3>This front end security camera client for your home automation system.</h3>
    <p>Effortlessly ask your Home Facebook bot for screenshots sent directly to your phone.</p>
    <p>Just aim your device camera at an area you would like to monitor and you're ready to go!</p>
  
    <h2>This is camera #<%=num%>.</h2>
	  <div id="my_camera"></div>
	  
	  <!-- First, include the Webcam.js JavaScript Library -->
	  <script type="text/javascript" src="/webcam.min.js"></script>
	  
	  <!-- Configure a few settings and attach camera -->
	  <script language="JavaScript">
	  	Webcam.set({
	  		width: 640,
	  		height: 480,
	  		dest_width: 640,
	  		dest_height: 480,
	  		image_format: 'jpeg',
	  		jpeg_quality: 90
	  	});
	  	Webcam.attach( '#my_camera' );
	  </script>
	  
	  <!-- A button for taking snaps -->
	  <!--<form>
	  	<input type=button value="Manually Take Photo" onClick="take_snapshot()">
      </form> -->
	  
      <hr>

	  <div id="results">Images from this camera are being streamed to the server...</div>

	  <!-- Code to handle taking the snapshot and displaying it locally -->
	  <script language="JavaScript">
	  	function take_snapshot() {
	  		// take snapshot and get image data
	  		Webcam.snap( function(data_uri) {
	  			// display results in page
          document.getElementById('results').innerHTML = 
          '<h2>Image output:</h2>' + 
          '<img src="'+data_uri+'"/>';

          Webcam.upload( data_uri, '/bot/pic/' + <%=num%>, function(code, text) {
              setTimeout(take_snapshot, 1000);
          });
	  		});
	  	};
          setTimeout(take_snapshot, 3000);
	  </script>
    </div>
</body>
</html>
